.cargar-citas {
    max-width: 700px;
    margin: 40px auto;
    font-family: Arial, sans-serif;
}

.cargar-citas h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.drop-area {
    border: 2px dashed var(--clr-rojo);
    background-color: var(--clr-salmon);
    border-radius: 8px;
    padding: 2rem;
    text-align: center;
    cursor: pointer;
}

.drop-area input[type="file"] {
    display: none;
}

.drop-area label {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #666;
}

.drop-area svg {
    width: 48px;
    height: 48px;
    margin-bottom: 1rem;
}

.file-selected {
    margin-top: 1rem;
    color: #4caf50;
}

.upload-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--clr-rojo);
    color: white;
    border: none;
    padding: 0.75rem;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
}

.upload-button svg {
    margin-right: 0.5rem;
}

.upload-button:hover {
    background-color: var(--clr-vino);
}
.generate-assignment-button{
    background-color: var(--clr-rojo);
    color: white;
    margin-top: 1.5rem;
    padding: .75rem 1rem;
    border-radius: .5rem;
    transition: 3ms;
}
.generate-assignment-button:hover{
    background-color: var(--clr-vino);
}
.generate-assignment-button:active{
    background-color: var(--clr-vino-strong);
}

@media (max-width: 960px) {
    .cargar-citas {
        max-width: 80%;
        margin-left: 220px; /* Ajusta este valor según el ancho de tu sidebar */
        font-size: 0.9rem;
    }

    .cargar-citas h2 {
        font-size: 1.2rem;
        margin-left: 3rem;
        margin-right: auto;
    }

    .drop-area {
        padding: 1.5rem;
    }

    .drop-area svg {
        width: 36px;
        height: 36px;
    }

    .upload-button {
        padding: 0.6rem;
        font-size: 0.9rem;
    }

    .data-table {
        margin-left: auto;
        margin-right: 20px;
        width: 90%;
    }
    .generate-assignment-button{
        margin-left: 3rem;
        margin-right: auto;
    }
    .datosCargados{
        margin-left: 3rem;
        margin-right: auto;
    }
    .infoCitas{
        margin-left: 3rem;
        margin-right: auto;
    }
}
