.containerCitas {
    flex: 2;
    max-width: 700px;
    padding: 10px;
    border: 1px solid var(--clr-rojo);
    border-radius: .5rem;
    background-color: #FAF3EE;
}

.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 5px;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.button {
    background-color: transparent;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}