/* sidebar.css */
.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--clr-vino);
    padding-top: 20px;
    transition: width 0.3s;
}

.sidebar.closed {
    width: 70px;
}
.sidebar.closed .fa-chevron-left{
    font-size: 2.25rem;
    padding-block: 3rem;
}
.sidebar.closed .logoG{
    width: 48px;
    height: 48px;
}
.sidebar.closed .dataPerfilInicio span {
    display: none;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;

}
.sidebar ul li {
    padding: 1rem 1rem;
    text-align: left;
    color: white;
    display: flex;
    align-items: center;
    transition: 0.3s;
}
.sidebar ul li:hover{
    background-color: var(--clr-naranja);
    border-radius: .5rem;
}
.sidebar button{
    padding: 0rem .25rem;
    text-align: left;
    color: white;
    font-size: 1rem;
    display: flex;
    align-items: center;
}
.sidebar .fa-solid{
    font-size: 1.5rem;
}

.sidebar ul li i {
    margin-right: 1rem;
}

.sidebar ul li .hidden {
    display: none;
}

.dataPerfilInicio ul li .hidden {
    display: none;
}

button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: white;
}
.perfil {
    display: flex;
    flex-direction: row;
    padding-left: 0;
}
.dataPerfilInicio{
    display: flex;
    flex-direction: column;
    padding-left: .75rem;
    padding-top: .25rem;
    font-size: .75rem;
}
.openSide{
    margin-top: 2rem;
    margin-left: 1rem;
    transition: 0.3s;
}
.openSide:hover {
    background-color: var(--clr-naranja);
    padding-inline: .5rem;
    border-radius: .5rem;
    width: 50px;
}
.dataDAE{
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 1.25rem;
    padding-top: .65rem;
    font-size: .75rem;
}
.logoG {
    width: 48px; /* Asegúrate de que el ancho y el alto sean iguales */
    height: 48px;
    border-radius: 100%; /* Esto crea un círculo perfecto */
    border: 2px solid white; /* Borde blanco */
    object-fit: cover; /* Para que la imagen se ajuste dentro del contenedor circular */
}

