.student-data-preview {
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.student-data-preview h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #333;
}

.student-data-preview h3 {
    font-size: 16px;
    margin-bottom: 8px;
    color: #444;
}

.section {
    margin-bottom: 15px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 8px;
}

.student-data-preview input {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 13px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.student-data-preview button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.edit-button {
    background-color: #f0f0f0;
    color: #333;
}

.generate-button {
    background-color: var(--clr-rojo);
    color: white;
}

.edit-button:hover {
    background-color: #e0e0e0;
}

.generate-button:hover {
    background-color: var(--clr-vino);
}
@media (max-width: 960px) {
    .student-data-preview {
        margin-left: 15rem;
        margin-right: auto; /* Ajusta este valor según sea necesario */
    }
}
